@model ООP_Laba4.Storage.Entity.Sport 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/Style.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>AllParticipant</title>
</head>
<body>
    <h2>Меню</h2>
    <table>
        <tr>
            <th>События</th>
        </tr>
        <tr>
            <td>@Html.ActionLink("добавить", "CreateEvent", "Event")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("список событий", "AllEvent", "Event")</td>
        </tr>
    </table>
    <h1>Таблица событий</h1>
    <table>
        <tr>
            <th>Дата</th>
            <th>Название</th>
            <th>изменить</th>
            <th>Список спортивных мероприятий</th>
            <th>Добавить спротивное мероприятие</th>

        </tr>
        <tr>
            <td>@Model.Event.Date.ToShortDateString()</td>
            <td>@Model.Event.Name</td>
            <td>@Html.ActionLink("изменить", "UpdateEvent", "Event", new { id = Model.EventId })</td>
            <td>@Html.ActionLink("показать", "AllSport", "Event", new { id = Model.EventId })</td>
            <td>@Html.ActionLink("добавить", "CreateSport", "Sport", new { Eventd = Model.EventId })</td>

        </tr>
    </table>
    <h2>Список участников</h2>
    <table>
        <tr>
            <th>№</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>изменить</th>
            <th>удалить</th>
        </tr>
        @{
            int number = 1;
            foreach (var a in Model.Participants)
            {
                <tr>
                    <td>@number.ToString()</td>
                    <td>@a.SurName</td>
                    <td>@a.Name</td>
                    <td>@a.LastName</td>
                    <td>@a.Birthday.ToShortDateString()</td>
                    <td>@Html.ActionLink("изменить", "UpdateParticipant", "Participant", new { id = a.Id })</td>
                    <td>@Html.ActionLink("удалить", "Delete", "Participant", new { id = a.Id })</td>
                </tr>
                number++;
            }
        }
    </table>
</body>
</html>
